<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ site.title }}</title>
        <meta name="keywords" content="{{ site.descripton }}" />
        <meta name="author" content="{{ site.author }}" />
        <meta name="robots" content="index follow"/>
        <meta name="description" content="{{ site.descripton }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="GOOGLEBOT" content="index follow"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" href="/content/images/icons/favicon-32x32.png" />
        <link rel="apple-touch-icon-precomposed" href="/content/images/icons/apple-touch-icon-180x180-precomposed" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/content/images/icons/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/content/images/icons/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/content/images/icons/icon-72@2x.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/content/images/icons/apple-touch-icon-60x60-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/content/images/icons/apple-touch-icon-120x120-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/content/images/icons/apple-touch-icon-76x76-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/content/images/icons/apple-touch-icon-152x152-precomposed.png" />
        <link rel="stylesheet" media="screen" href="/content/css/bootstrap.min.css" />
        <link rel="stylesheet" media="screen" href="/content/css/main.css"/>
        <script type="text/javascript" src="/content/js/vendor/modernizr.custom.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="Loader">
            <div id="circle"></div>
            <div id="circle1"></div>
        </div>
        <section id="header">
        </section>