        <section id="team-section" style="background-position: 50% 78px;">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="section-title">
                            <h1 id="team-section-title">Stuff</h1>
                        </div>
                        <ul>
                            <li><a href="http://discord.me/ptbogamejam">Discord</a></li>
                            <li><a href="http://ptbogamejam.com/event/schedule/">Schedule</a></li>
                            <li><a href="https://www.dropbox.com/request/3tdolrOzDwJpLTxVEptQ">Dropbox</a></li>
                            <li><a href="https://itch.io/jam/ptbo-game-jam">Game Submission</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>