        <section id="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-icons">
                            <ul>
                                <li>
                                    <a href="{{ site.social-twitter }}"  data-placement="top" data-rel="tooltip" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ site.social-facebook }}" data-placement="top" data-rel="tooltip" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ site.social-google }}" data-placement="top" data-rel="tooltip" title="Google +">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ site.social-instagram }}" data-placement="top" data-rel="tooltip" title="Instagram">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>&copy; 2017 <a href="http://dotbunny.com">dotBunny</a> All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
