        <section id="team-section" style="background-position: 50% 78px;">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="section-title">
                            <h1 id="team-section-title">EVENT HUB</h1>
                        </div>
                        <div class="hub">
                            <a href="https://github.com/redeem/hackathon-ea7d501" data-placement="top" data-rel="tooltip" title="Repository"><img src="/content/images/hub/github.png"></a>
                            <a href="http://discord.me/ptbogamejam" data-placement="top" data-rel="tooltip" title="Communications"><img src="/content/images/hub/discord.png"></a>
                            <a href="https://www.dropbox.com/request/3tdolrOzDwJpLTxVEptQ" data-placement="top" data-rel="tooltip" title="Media Drop"><img src="/content/images/hub/dropbox.png"></a>
                            <a href="https://itch.io/jam/ptbogamejam02" data-placement="top" data-rel="tooltip" title="Submission"><img src="/content/images/hub/itch.png"></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
