        <section id="Our-Services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1 id="services-section-title">Resources</h1>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <img src="/content/images/extras/assets.png" />
                            </div>
                            <div class="title-main">
                                <h1>Assets</h1>
                            </div>
                            <div class="title-desc">
                                <h4>Drag &amp; Drop Solutions</h4>
                            </div>
                            <div class="containt">
                                <ul>
                                    <li><a href="http://opengameart.org/">Open Game Art</a></li>
                                    <li><a href="http://devassets.com/">Dev Assets</a></li>
                                    <li><a href="http://kenney.nl/assets">Kenney Game Assets</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <img src="/content/images/extras/unity.png" />
                            </div>
                            <div class="title-main">
                                <h1>Unity</h1>
                            </div>
                            <div class="title-desc">
                                <h4><a href="https://store.unity.com/download?ref=personal" alt="Download Unity" title="Download Unity">Game Engine</a></h4>
                            </div>
                            <div class="containt">
                                <ul>
                                    <li><a href="http://docs.unity3d.com/Manual/index.html">Documentation</a></li>
                                    <li><a href="https://www.assetstore.unity3d.com/en/#!/search/page=1/sortby=popularity/query=category:165">Essentials</a></li>
                                    <li><a href="http://wiki.unity3d.com/index.php/Main_Page">Wiki</a></li>
                                    <li><a href="https://cse.google.com/cse/home?cx=001712401338047450041:csfhqk-trfa">Custom Google Search</a></li>
                                    <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                   <div class="col-md-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <img src="/content/images/extras/unreal.png" />
                            </div>
                            <div class="title-main">
                                <h1>Unreal</h1>
                            </div>
                            <div class="title-desc">
                                <h4><a href="https://www.unrealengine.com/register" alt="Download Unreal" title="Download Unreal">Game Engine</a></h4>
                            </div>
                            <div class="containt">
                                <ul>
                                    <li><a href="https://docs.unrealengine.com/latest/INT/">Documentation</a></li>
                                    <li><a href="https://www.unrealengine.com/marketplace">Marketplace</a></li>
                                    <li><a href="https://wiki.unrealengine.com/Main_Page">Wiki</a></li>
                                    <li><a href="https://www.jetbrains.com/clion/">CLion</a></li>
                                    <li><a href="https://github.com/dotBunny/CLionSourceCodeAccess">CLion Integration</a></li>
                                    <li><a href="https://wiki.unrealengine.com/Assets_Naming_Convention">Asset Naming Conventions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>


