        
        <section id="home-section">
            <div id="home-section-wrapper">
                <div class="container">
                    <div class="row">
                        <div id="home-section-container" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', delay:500, repeat: true}">
                            <h1 id="welcome-msg">{{ site.welcome }}</h1>
                            <h1 id="welcome-msg-mobile">{{ site.welcome }}</h1>
                            <div id="countdown_dashboard" diffSecs="500">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="days_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">days</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="hours_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">hours</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="minutes_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">minutes</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="seconds_dash">
                                        <div class="digit">0</div>
                                        <div class="digit">0</div>
                                        <span class="dash_title">seconds</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
