

/* ==========================================================================
   10. Responsive
========================================================================== */
@media only screen and (min-width: 1199px) {
    .container {
        width: 970px;
    }
}





/* 10.2 SMALL TABLET
---------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

    .container { width: 570px; }

    h1#welcome-msg { width: 470px; }

}
@media only screen and (min-width: 600px) {
    h1#welcome-msg {
        opacity: 1;
        height: auto;
    }
}


/* 10.3 PHONE
---------------------------------------------------------------------------*/
@media only screen and (max-width: 599px) {

    .container { width: 450px; }

    #home-section-container { margin-top: 20px; }

    h1#welcome-msg {
        width: 0;
        height: 0;
        opacity: 0;
    }
    h1#welcome-msg-mobile { display: block; }
    #logo img {
        width: 165px;
        height: 57px;
    }

}


/* 10.4 SMALL PHONE
---------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {

    .container { width: 320px; }
    .col-xs-3 { width: 50%; }

    #home-section-container { margin-top: 35px; }
    .days_dash,
    .hours_dash {
        margin-bottom: 0;
    }
    .hours_dash:after { display: none; }
    .dash_title { margin-top: 0; }

    .services-icon {
        float: none;
        display: block;
        margin: 0 auto 30px;
    }
    .services-box .title-main h1 {
        margin: 0 auto 5px;
        text-align: center;
    }
    .services-box .title-desc h4 {
        text-align: center;
        margin: 0 auto 15px;
    }
    .services-box .containt {
        margin: 0 auto;
        text-align: center;
    }

}


@media only screen and (min-width: 1280px) and (max-width: 1281px) {
    .digit {
        height: 200px;
        font-size: 200px;
        line-height: 200px;
        font-weight: 600;
    }

    .days_dash:after,
    .hours_dash:after,
    .minutes_dash:after {
        top: 17px;
        right: -34px;
        font-size: 150px;
    }
    #countdown_dashboard {
        max-width: 80%;
    }

    h1#welcome-msg
    {
        display: none;
    }

    .dash_title {
        font-size: 45px;
        line-height: 45px;
        height: 45px;
        font-weight: 600;
    }
}

@media only screen and (min-width: 1920px) and (max-width: 1921px) {
    .digit {
        height: 300px;
        font-size: 300px;
        line-height: 300px;
        font-weight: 600;
    }

    .days_dash:after,
    .hours_dash:after,
    .minutes_dash:after {
        top: 15px;
        right: -45px;
        font-size: 235px;
    }
    #countdown_dashboard {
        max-width: 80%;
    }

    h1#welcome-msg
    {
        display: none;
    }

    .dash_title {
        font-size: 45px;
        line-height: 45px;
        height: 45px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 480px) {
    #Our-Services-section li {
        list-style-type: none;
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    #team-section .hub
    {
        text-align: center;
        
    }
}